{% extends 'base.html' %}
{% block content %}
{% load crispy_forms_tags %}
{% load static %}
<title>Add Blogs</title>
<style>
    body {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
        background-image: url("{% static 'bg/addb.jpg' %}");
        background-repeat: no-repeat;
        background-size: cover;
    }

    section {
        margin: 70px;
    }

    h2 {
        font-size: 4rem;
    }
</style>
<!-- Add Blog -->
<section>
    <div class="container">
        <h2>Share Your ideas</h2>
        <hr>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{form.media}}
            {{form|crispy}}
            <br>
            <button type="submit" class="btn btn-secondary">Add Blog</button>
        </form>
        <script>
            let name = "{{user.username}}";
            document.getElementById("username").value = name;
        </script>
</section>

<!-- Contact Modal -->
<div class="modal fade" id="contact" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Contact Form</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form action="{% url 'contact' %}" method="post">
                    {% csrf_token %}
                    <div class="form-group">
                        <label class="s1">Name</label>
                        <input type="text" name="name" class="form-control s1" value="{{user.first_name}}">
                        <label class="s1">Email</label>
                        <input type="email" name="email" class="form-control s1" value="{{user.email}}">
                        <label class="s1">Number</label>
                        <input type="number" name="number" class="form-control s1">
                        <label class="s1">Address</label>
                        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"
                            name="address"></textarea>
                        <br>
                        <button type="submit" class="btn btn-success s1">Submit</button>
                        <button type="reset" class="btn btn-danger s1"><i class="fa-solid fa-trash-can"></i></button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</div>
{% endblock %}