{% extends 'base.html' %}
{% block content %}

{% load static %}
{% load crispy_forms_tags %}


<style>
  body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-image: url("{% static 'bg/homebg.jpg' %}");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    backdrop-filter: blur(20px);
  }

  h2 {
    font-size: 3rem;
  }

  .c1 {
    margin-top: 20px;
  }

  .text {
    text-align: justify;
  }

  p {
    text-align: justify;
  }



  .img{
    transition: 0.5s;
    border-radius:15px;
    box-shadow: 9px 8px 20px 0px black;
    width: 180px;
    height: 380px;
    border-radius: 20px;
    object-fit: cover;
  }
  .img:hover{
    transform: scale(1.1);
    box-shadow: 9px 8px 40px 0px black;
  }
  .filter{
    width: 10%;
  }

  @media screen and (max-width:480px) {
    .filter{
    width: 30%;
    }
  }
</style>
<title>Anime Blogs</title>

<section class="Blog">
  <div class="container c1">
    {% if messages %}
    {% for i in messages %}
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
      <strong>{{i}}</strong>
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endfor %}
    {% endif %}

    <div class="filter">
      <label for="">Filter By</label>
      <select id="query" class="form-control" onchange="select()">
        <option selected ></option>
        <option value="Title">By Name </option>
        <option value="time">By Time</option>
        <option value="?">Popular</option>
      </select>

    
      <script>
        function select(){
          let a = document.getElementById('query');
          console.log(a.value)
          if (a.value == 'Title'){
            window.location = "{% url 'filter' 'Title' %}";
          }else if(a.value == 'time'){
            window.location = "{% url 'filter' 'time' %}";
          }else if(a.value == '?'){
            window.location = "{% url 'filter' '?' %}";
          }
        }
      </script> 
    </div>
    <div class="row">
        {% for j in blog %}
      <div class="col-lg-4 text-center">
        <br />
        <a href="{% url 'read' j.id %}">
        <img src="{{j.Choose_Image.url}}" class="img" style="width: 65%" /> </a>
        <br><br>
        <h2>{{j.Title}}</h2>
         <a href="{% url 'read' j.id %}">
        Read about {{j.Title}}</a>
        <br>
        By - <b>{{j.Your_Name}}</b>
    </div>
    {% endfor %}
    </div>
  </div>
</section>

<!-- Contact Modal -->
<div class="modal fade" id="contact" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Contact Form</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form action="{% url 'contact' %}" method="post">
          {% csrf_token %}
          <div class="form-group">
            <label class="s1">Name</label>
            <input type="text" name="name" class="form-control s1" value="{{user.first_name}}" />
            <label class="s1">Email</label>
            <input type="email" name="email" class="form-control s1" value="{{user.email}}" />
            <label class="s1">Number</label>
            <input type="number" name="number" class="form-control s1" />
            <label class="s1">Address</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name="address"></textarea>
            <br />
            <button type="submit" class="btn btn-success s1">Submit</button>
            <button type="reset" class="btn btn-danger s1">
              <i class="fa-solid fa-trash-can"></i>
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

{% if userblog %}
{% else %}
<script>
  document.getElementById('editbtn').style.display='none'
</script>
{% endif %}
<!-- 
{% if messages %}
{% for i in messages %}
<script>
  alert('{{i}}')
</script>
{% endfor %}
{% endif %} -->

{% endblock %}